
.Khung
{
    margin: auto;
    width: 1500px;
}
.Menu 
{
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}
.Menu ul li
{
    background-color: rgb(99, 159, 238);
    display: inline-block;
    padding: 15px 70px;
    text-transform: uppercase;
    list-style-type:none;
}
#logo
{
    padding-bottom: 1em;
    width: 130px;
    height: 100px;
    margin: auto;
    margin-bottom: 1cm;
    object-fit: cover;
    display: block;
}
.Hinhnen
{  
    display: block;
    margin-left: 6cm;
}
.Cauthu h1
{
    margin-top: 1cm;
    margin-bottom: 1cm;
    text-align: center;
    color: cornflowerblue;
}
.Cauthu h2
{
    display: inline;
    margin-top: 2cm;
    padding: 15px 80px;
    text-decoration: none;
    color:#FF99CC;
}
.Hinhcauthu jn
{
    margin-left: 2.2cm;
 
}
.Hinhcauthu ke
{
    margin-left: 4.2cm;
}
.Hinhcauthu cy
{
    margin-left: 4cm;
}
.Hinhcauthu jh
{

    margin-left: 4.3cm;
}
.Hinhcauthu kb
{

    margin-left: 3.9cm;
}
.Hinhcauthu kd
{
    margin-left:4cm;
}
.img-responsive-
{
    display: block;
    max-width: 100%;
    height: auto;
}
.img-responsive 
{
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: 4cm;
}
a img
{

    padding-top: 3em;
    vertical-align: middle;
    border: 0;
    margin-left: 4.7cm;
}
a{
    background:transparent;
    margin-left: 8.7cm;
}
.bgwhite
{
    display: inline-block;
}
.img_home {
    display: block;
    padding: 0px 15px;
}
.gray-darker {
    color: #222;
}
.nameshoe
{
    font-size: 15px;
    margin-left:-3cm;
}
.giatri
{
    margin-left: -2.5cm;
}
.item
{
    display: inline-block;
    margin-bottom: 0;
}
.nameshoe .gray2
{
    margin-left: 8.5cm;
}
.nameshoe .gray1
{
    margin-left: 8.4cm;
}
.nameshoe .gray3
{
    margin-left: 7.7cm;
}
.nameshoe .gray4
{
    margin-left: 7.6cm;
}
.gray{
    margin-left: 8.1cm;
}
.nameshoe
{
    width: 464px;
    height: 2px;
}
.giaybongro
{
    padding: 10px 10px;
    margin-left: 1cm;
    text-transform: uppercase;
}
.nameshoe .gray5
{
    margin-left: 8cm;
}
.nameshoe .gray6
{
    margin-left: 7.6cm;
}
.nameshoe .gray7
{
    margin-left: 8.5cm;
}
.nameshoe .gray8
{
    margin-left: 8.4cm;
}
.nameshoe .gray9
{
    margin-left: 8cm;
}
.aovaquan
{
    padding: -10px 20px;
    margin-left: 1cm;
    text-transform: uppercase;
}
.item1
{
    display: inline-block;
    margin-bottom: 0;
}
.giatri1 
{
    margin-left: -2cm;
}
.giatri01
{
    margin-left: -0.3cm;
}
.namejersey .gray
{
    margin-left: 6cm;
}
.namejersey .gray1
{
    margin-left: 4.6cm;
}
.namejersey .gray2
{
    margin-left: 4.1cm;
}
.namejersey .gray3
{
    margin-left: 4.9cm;
}
.item2
{
    display: inline-block;
    margin-bottom: 0;
}
.giatri02
{
    margin-left: -0.5cm;
}
.giatri2
{
    margin-left: -2cm;
}
.nameshort .gray
{
    margin-left: -1.7cm;
}
.nameshort .gray1
{
    margin-left: -4.3cm;
}
.nameshort .gray2
{
    margin-left: -3.6cm;
}
.nameshort .gray3
{
    margin-left: -4.2cm;
}
